.app {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.twinkling {
  width: 100%;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  animation: twinkling 5s infinite linear;

  background-attachment: fixed;
}

@keyframes twinkling {
  from {
    transform: translate3d(-20vw, 0px, 0px);
  }
  to {
    transform: translate3d(50vw, 0px, 0px);
  }
}

.clouds {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent url("cloud.png") repeat;
  position: absolute;

  top: 0px;
  right: 0px;
  z-index: 3;

  animation: clouds1 30s infinite linear;
}

@keyframes clouds1 {
  from {
    transform: translate3d(-50vw, 0px, 0px);
  }
  to {
    transform: translate3d(60vw, 0px, 0px);
  }
}

@media only screen and (max-width: 700px) {
  .clouds {
    display: none;
  }

  .twinkling {
    animation: twinkling 3s infinite linear;
  }
}
