.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5vw;
  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;


  z-index: 4;
  padding-top: 2vw;
}

.navbar_btns {
  width: 20%;
  margin-right: 2vw;
  display: flex;
  justify-content: space-around;

  /* background-color: red; */
}

.navbar_btns h2 {
  font-size: 2.5vw;
  color: white;
}

.navbar_btns h2:hover {
  color: yellow;
}
