/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 22vw;
  height: 20vw;



  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front{
  box-shadow: 0 4px 8px 0 rgba(192,192,192, 0.2), 0 6px 20px 0 rgba(192,192,192, 0.19);
}
.projectCard_img {
  object-fit: contain;
  height: 20vw;
}

/* Style the back side */
.flip-box-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);

  display: grid;
  grid-template-rows: 7vw  7vw 3vw ;

  width: 20vw;
  height: 18vw;
  padding: 1vw;
  position: relative;


}

.flip-box-back h1 {
  font-size: 2.3vw;
}

.flip-box-back p{
  font-size: 1.1vw;
}

.demo_button {
  color: white;
  border: 1px solid black;
  font-size: 1.3vw;
  border-radius: 99px;
  background-color: black;
  color: white;
  padding: 0.5vw 1vw;
 
  position: absolute;
  bottom: 3vw;
  left:1vw;
}

.demo_button:hover {
  color: black;
  background-color: white;
}

.code_button {
  color: white;
  border: 1px solid black;
  font-size: 1.3vw;
  border-radius: 99px;
  background-color: white;
  color: black;
  padding: 0.5vw 1vw;

  position: absolute;
  bottom: 3vw;
  right:1vw;
}

.code_button:hover {
  color: white;
  background-color: black;
}
@media only screen and (max-width: 700px) {
  .flip-box-back h1 {
    font-size: 1px;
  }
  
  .flip-box-back p{
    font-size: 1px;
  }
  
  .demo_button {

    font-size: 1px;
    
  }
  

  
  .code_button {

    font-size: 1px;
    
  }
}